@media only screen and (max-width:300px){

.robot-head {
    width: 180px;
    height: 140px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background: rgb(73, 144, 210);
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    transition: all 1s;
}

.eyes {
    width: 180px;
    display: flex;
    justify-content: space-around;
}

.robot-body{
    display: flex;
}

.chest {
    background: rgb(73, 144, 210);
    width: 180px;
    height: 180px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.left-arm, .right-arm {
    background: rgb(73, 144, 210);
    width: 30px;
    height: 110px;
    margin: 0 8px;
    border-radius: 20px;
}

.left-leg, .right-leg {
    background: rgb(73, 144, 210);
    width: 30px;
    height: 90px;
    margin: 0 20px;
    margin-top: -20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.robot-head:hover {
    width: 260px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
}

.left-leg:hover {
    transform:rotate(15deg);
    margin-top: -22px;
}
}

@media only screen and (max-height:500px){

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.7rem;
    margin-top: 50px;
    line-height: 2rem;
}

.container {
    background: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
    margin-top: 20px;
}

.robot-head {
    width: 150px;
    height: 109px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background: rgb(73, 144, 210);
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    transition: all 1s;
}

.eyes {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.eye1 {
    background: #f4f4f4;
    width: 15px;
    height: 15px;
    margin-bottom: 18px;
    border-radius: 50%;
}

.eye2 {
    background: #f4f4f4;
    width: 15px;
    height: 15px;
    margin-bottom: 18px;
    border-radius: 50%;
}

.robot-body{
    display: flex;
}

.chest {
    background: rgb(73, 144, 210);
    width: 150px;
    height: 120px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.left-arm, .right-arm {
    background: rgb(73, 144, 210);
    width: 26px;
    height: 80px;
    margin: 0 8px;
    border-radius: 20px;
}

.foot {
    display: flex;
}

.left-leg, .right-leg {
    background: rgb(73, 144, 210);
    width: 26px;
    height: 60px;
    margin: 0 14px;
    margin-top: -5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.robot-head:hover {
    width: 218px;
    border-top-left-radius: 109px;
    border-top-right-radius: 109px;
}

.left-leg:hover {
    transform:rotate(20deg);
    margin-top: -8px;
}
}